.input-group-text.search-start-override {
  background-color: white;
  border-radius: 50px;
  border-right: 0;

}

.form-control.rounded-override {
   border-radius: 50px;
   border-left: 0;
 }

label.wd-full-width {
  width: 80%;
}

.wd-explore-profile {
  margin-left: 6px;
  color: rgb(29,161,242);
}

i.wd-center-cog {
  position: relative;
  top: 4px;
  padding-right: 12px;
}